* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

body {
  height: 100%;
  width: 100%;
  background-image: url("./images/bg-intro-mobile.png");
  background-color: hsl(0, 100%, 74%);
  color: white;
}

#text-header h1 {
  text-align: center;
  font-weight: 700;
  margin: 70px 30px 20px 30px;
  font-size: 25px;
}

#text-header p {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  margin: 0 20px 55px 20px;
}

#box-try {
  background-color: hsl(248, 32%, 49%);
  padding: 1rem;
  cursor: pointer;
  margin-bottom: 1.5rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 7px 0px 0px rgb(226, 105, 105);
}

#text {
  margin: 0 40px 0 40px;
}

#box-try p {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}

#box-try span {
  font-weight: 300;
}

#text #text-one {
  display: inline;
  font-weight: 600;
}

#text #text-two {
  display: inline;
  font-weight: 300;
}

#text #text-three {
  font-weight: 300;
}

form {
  position: relative;
  text-align: center;
  padding: 2.3rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 7px 0px 0px rgb(226, 105, 105);
}

.container-two {
  width: 100%;
}

.container-three {
  width: 1%;
  margin: auto;
}

#main-box {
  background-color: white;
  color: gray;
  width: 100%;
  margin: 20px 0 20px 0;
  border-radius: 10px;
  padding-top: 10px;
  box-shadow: 0 0 8px darkslategray;
}

#main-box p {
  font-weight: 600;
}

.input-icon {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.input-icon #one {
  margin-top: 0;
}

form input {
  padding: 1.5rem;
  box-sizing: border-box;
  font-size: 14px;
  width: 100%;
  font-weight: 600;
  color: gray;
  height: 20px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

form input:focus {
  outline: none !important;
  border: 2px solid black;
}

.img-error {
  position: absolute;
  top: 0.8rem;
  display: none;
  right: 1.5rem;
}

.error-msg {
  font-size: 11px;
  color: red;
  display: none;
  font-style: italic;
  text-align: right;
  margin-top: 0.5rem;
}

#trial-box {
  box-sizing: border-box;
  border-radius: 5px;
  background-color: hsl(154, 59%, 51%);
  color: white;
  text-align: center;
  width: 100%;
  outline: none;
  cursor: pointer;
  margin-bottom: 1rem;
  border: none;
  box-shadow: 0 4px 0 #2cb579;
  transition: background-color .3s, box-shadow .3s;
  text-transform: uppercase;
  padding: 14px;
  font-weight: 400;
  letter-spacing: 1.8px;
  font-size: 15px;
}

#trial-box:hover {
  background-color: hsl(154, 58%, 44%);
}

#terms {
  font-size: 11px;
}

#terms #terms-one {
  color: hsl(246, 25%, 77%);
  font-weight: 400;
  display: inline;
}

#terms #terms-two {
  color: hsl(0, 100%, 74%);
  font-weight: 700;
  cursor: pointer;
  display: inline;
}

#item-two {
  margin: 0 1.5rem 0 1.5rem;
}

.attribution {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-align: center;
}
.attribution a {
    text-decoration: underline;
    color: white;
}

@media only screen and (width: 280px) {
  #text p {
    font-size: 14px;
  }

  #trial-box p {
    font-size: 14px;
    letter-spacing: 0;
    padding: 15px;
  }
}

@media only screen and (min-width: 1000px) {
  body {
    background-image: url("./images/bg-intro-desktop.png");
  }

  #text {
    font-size: 16px;
  }

  #text #text-three {
    display: inline;
  }

  #flex-container {
    display: flex;
    align-items: center;
    padding: 0 10rem;
    min-height: 100vh;

  }

  #item-one {
    width: 50%;
  }

  form input {
    font-size: 16px;
  }

  #text-header h1 {
    font-size: 50px;
    text-align: start;
    padding-right: 1rem;
    line-height: 1;
    margin: 0 0 20px 0;
  }

  #text-header p {
    text-align: start;
    padding-right: 3rem;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
  }

  #item-two {
    width: 50%;
  }

  .attribution {
      display: block;
      text-align: center;
  }
  
  .attribution a {
      text-decoration: underline;
      color: white;
  }
}
